In [54]:
import os
import pandas as pd
import numpy as np
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="../esoteric-bruin-379522-1ac227ab6db1.json" # lokalizacja pobranego klucza z punktu 1.4.
client = bigquery.Client()

pd.set_option('display.max_columns', None)

#### USTAW PATH_PREFIX
PATH_REFIX = '../zad1/'

## Ćwiczenie 1

Połącz ze sobą wszystkie dane otrzymane w części 4 z zadania 1. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [55]:
df41 = pd.read_csv(f"{PATH_REFIX}kraje.csv")
df41

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km
0,Spain,ES,ES,46937060,23009259,23927801,93.100,1418587740000,505935
1,Ivory Coast,CI,CI,26378275,13300380,13077895,82.951,58792205642,322460
2,Cameroon,CM,CM,26545864,13277075,13268789,56.157,38760467033,475440
3,Cyprus,CY,CY,875899,427831,448068,94.400,24942615800,9250
4,Djibouti,DJ,DJ,988002,518993,469009,42.623,3318716359,23200
...,...,...,...,...,...,...,...,...,...
197,Namibia,NaN,NaN,2540916,1231683,1309233,3.086,12366527719,824290
198,Papua New Guinea,PG,PG,8947027,4568072,4378955,19.757,24969611434,462840
199,Russia,RU,RU,145934460,67640299,78294161,8.911,1699876578871,17098250
200,Tanzania,TZ,TZ,59734213,29851108,29883105,67.435,63177068174,947300
201,Yemen,YE,YE,29825968,15024985,14800983,56.492,27591261663,527970

In [56]:
# 4.2 statyski zachorowań dla całego świata

q1 = ("""
select location_key,
    date,
    new_confirmed, 
    new_deceased,
    new_recovered,
    new_intensive_care_patients
from `bigquery-public-data.covid19_open_data.covid19_open_data`
where aggregation_level=0 
and date between '2020-07-01' and '2020-12-31'
""")
query_job = client.query(q1)
query_result = query_job.result()
df42 = query_result.to_dataframe()
df42 = df42.drop_duplicates().fillna(0)
#out = df[['new_confirmed', "new_deceased", "new_recovered", "new_intensive_care_patients" ]].sum()
#ut.to_csv("4.2.csv")
df42

#df42 = pd.read_csv("../zad1/4.2.csv")
#df42.rename_axis('index1').reset_index()

,location_key,date,new_confirmed,new_deceased,new_recovered,new_intensive_care_patients
0,RO,2020-08-23,961,39,208,0
1,AE,2020-10-04,932,3,0,0
2,AF,2020-08-20,38,0,0,0
3,AI,2020-10-26,0,0,0,0
4,AL,2020-07-05,71,3,0,0
...,...,...,...,...,...,...
45259,ZA,2020-12-06,3313,43,0,0
45260,ZA,2020-08-16,2509,143,0,0
45261,ZA,2020-07-04,10821,173,0,0
45262,ZW,2020-07-11,3,0,0,0
45263,ZW,2020-11-11,30,0,0,0

In [57]:
df43 = pd.read_csv(f"{PATH_REFIX}4.3.csv")
df43

,location_key,date,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9
0,AR,2020-08-31,303,0,1,1,3,13,24,59,83,87,32,10056,244,414,1802,2484,2044,1427,797,453,264,118
1,AR,2020-10-05,372,1,0,1,6,11,49,74,102,83,45,13230,290,551,2337,3207,2743,1874,1142,619,344,119
2,AR,2020-09-01,308,0,0,1,4,13,21,53,96,83,37,11517,209,430,2083,2818,2447,1725,905,497,281,116
3,AR,2020-11-18,242,1,2,0,3,10,17,55,62,66,26,9842,221,497,1937,2282,1909,1341,853,490,226,84
4,BR,2020-09-13,415,2,0,8,21,35,82,142,174,129,43,14768,326,313,1306,1665,1342,907,602,293,342,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45259,TH,2020-11-24,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,1,0,0,0,0,0,0
45260,TW,2020-12-06,0,0,0,0,0,0,0,0,0,0,0,22,0,0,11,6,5,0,0,0,0,0
45261,TW,2020-11-17,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,1,0,1,0,0,0,0
45262,US,2020-07-05,445,0,0,0,0,0,0,0,0,0,0,39919,542,1623,4349,3223,2585,2271,1295,644,0,0
45263,US,2020-10-25,606,0,0,0,0,0,0,0,0,0,0,65177,1472,4226,6784,5868,5433,5129,3755,2135,0,0

In [58]:
df44 = pd.read_csv(f"{PATH_REFIX}4.4.csv")
df44

,location_key,date,new_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate
0,CH,2020-12-30,1659,2,10,58.204,35.896
1,US,2020-12-18,409914,1262,10854,139.141,81.935
2,CZ,2020-12-31,1313,0,1,108.785,51.325
3,CH,2020-12-21,1,1,1,58.204,35.896
4,CA,2020-12-29,13012,1,2,82.625,51.763
...,...,...,...,...,...,...,...
83,FR,2020-12-30,443,18,134,95.352,48.187
84,IL,2020-12-20,7393,0,4,70.873,39.638
85,CA,2020-12-28,6626,0,1,82.625,51.763
86,BE,2020-12-28,340,0,0,80.262,49.245
87,IL,2020-12-30,153161,0,6,70.873,39.638

In [59]:
df451 = pd.read_csv(f"{PATH_REFIX}4.5.1.csv")

df451 = df451.groupby(by=["location_key", 'date']).max()
df451

                         cumulative_confirmed  \
location_key date
AR           2020-12-29               1638156
             2020-12-30               1651611
             2020-12-31               1660182
AT           2020-12-27                350876
             2020-12-28                352983
...                                       ...
US           2020-12-27              18860232
             2020-12-28              19034305
             2020-12-29              19239766
             2020-12-30              19470966
             2020-12-31              19694998

                         cumulative_persons_fully_vaccinated  population  \
location_key date
AR           2020-12-29                                    3    44938712
             2020-12-30                                    7    44938712
             2020-12-31                                    7    44938712
AT           2020-12-27                                    0     8858775
             2020-12-28                                    0     8858775
...                                                      ...         ...
US           2020-12-27                                23575   331002647
             2020-12-28                                27909   331002647
             2020-12-29                                33347   331002647
             2020-12-30                                41341   331002647
             2020-12-31                                44731   331002647

                           hdi
location_key date
AR           2020-12-29  0.825
             2020-12-30  0.825
             2020-12-31  0.825
AT           2020-12-27  0.908
             2020-12-28  0.908
...                        ...
US           2020-12-27  0.920
             2020-12-28  0.920
             2020-12-29  0.920
             2020-12-30  0.920
             2020-12-31  0.920

[477 rows x 4 columns]

In [60]:
df452 = pd.read_csv(f"{PATH_REFIX}4.5.2.csv")
df452

,date,location_key,new_confirmed,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
0,2020-12-08,AT,2631,-50,-48,-8,-60,-79,24
1,2020-08-30,BG,76,8,-4,132,4,3,-11
2,2020-08-23,BG,99,8,-4,144,5,3,-11
3,2020-08-08,BO,1164,-70,-59,-69,-76,-54,30
4,2020-08-12,BW,148,-33,-16,2,-47,-37,28
...,...,...,...,...,...,...,...,...,...
22419,2020-11-20,PA,1200,-40,-19,-54,-37,-29,19
22420,2020-08-15,ZW,85,-15,3,5,-23,3,19
22421,2020-12-03,AE,1311,-14,5,5,-42,-59,19
22422,2020-07-26,CR,629,-67,-39,-63,-67,-33,19
22423,2020-07-30,ZA,11003,-23,-5,-18,-49,-38,19

In [61]:
df453 = pd.read_csv(f"{PATH_REFIX}4.5.3.csv")
df453

,date,location_key,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever
0,2020-12-05,GB,354378,12893,396,4.24,3.35
1,2020-07-30,GB,206656,946,10,3.37,4.52
2,2020-10-24,IE,15772,1020,7,4.39,4.44
3,2020-08-29,IE,5659,41,0,4.87,5.33
4,2020-11-10,IE,10790,358,5,3.77,3.92
...,...,...,...,...,...,...,...
888,2020-08-31,NZ,8939,14,0,7.68,5.14
889,2020-12-07,NZ,2315,6,0,10.44,6.17
890,2020-08-26,NZ,8786,7,0,7.37,4.84
891,2020-07-05,US,725934,39919,445,3.29,4.24
892,2020-10-25,US,955237,65177,606,3.70,3.30

## Łączenie

In [11]:
# laczenie dat wyszukiwań
df = pd.merge(df41, df453, how="right", on="location_key")
df

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever
0,United Kingdom,GB,GB,66647112,32901036,33746076,273.800,2860009176200,243610,2020-12-05,354378,12893,396,4.24,3.35
1,United Kingdom,GB,GB,66647112,32901036,33746076,273.800,2860009176200,243610,2020-07-30,206656,946,10,3.37,4.52
2,Ireland,IE,IE,4904240,2428881,2475359,70.900,382365076000,70280,2020-10-24,15772,1020,7,4.39,4.44
3,Ireland,IE,IE,4904240,2428881,2475359,70.900,382365076000,70280,2020-08-29,5659,41,0,4.87,5.33
4,Ireland,IE,IE,4904240,2428881,2475359,70.900,382365076000,70280,2020-11-10,10790,358,5,3.77,3.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-08-31,8939,14,0,7.68,5.14
889,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-12-07,2315,6,0,10.44,6.17
890,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-08-26,8786,7,0,7.37,4.84
891,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-05,725934,39919,445,3.29,4.24
892,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-10-25,955237,65177,606,3.70,3.30

In [13]:
# laczenie df452 - mobility
df2 = pd.merge(df, df452, how="inner", on=["location_key", "date", "new_confirmed"])
df2

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
0,United Kingdom,GB,GB,66647112,32901036,33746076,273.800,2860009176200,243610,2020-12-05,354378,12893,396,4.24,3.35,-36,-6,-8,-41,-13,8
1,United Kingdom,GB,GB,66647112,32901036,33746076,273.800,2860009176200,243610,2020-07-30,206656,946,10,3.37,4.52,-23,-7,120,-41,-48,13
2,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-11-11,5995,3,0,8.56,5.44,2,-2,-8,-29,2,2
3,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-07-19,704,1,0,8.90,5.20,-1,-3,-33,-32,-8,4
4,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-08-31,8939,14,0,7.68,5.14,-11,-9,-19,-35,7,4
705,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-12-07,2315,6,0,10.44,6.17,3,-2,-11,-25,13,1
706,New Zealand,NZ,NZ,4822233,2370163,2452070,18.314,206928765543,267710,2020-08-26,8786,7,0,7.37,4.84,-25,-11,-23,-51,-16,11
707,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-05,725934,39919,445,3.29,4.24,-22,-10,53,-23,-19,3
708,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-10-25,955237,65177,606,3.70,3.30,-18,-8,1,-27,-15,4

In [16]:
df3 = pd.merge(df2, df451, how="inner", on=["location_key", "population"])
df3

,country_name,location_key,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi
0,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16119805,7882,0.920
1,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16315435,8025,0.920
2,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16512875,8315,0.920
3,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16749912,8803,0.920
4,United States of America,US,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16992440,9592,0.920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37347,Australia,AU,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28312,0,0.939
37348,Australia,AU,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28337,0,0.939
37349,Australia,AU,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28350,0,0.939
37350,Australia,AU,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28381,0,0.939
37351,Australia,AU,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28408,0,0.939

In [19]:
df4 = pd.merge(df3, df44, how='left', on=['location_key', 'date', 'cumulative_persons_fully_vaccinated', 'cumulative_persons_fully_vaccinated'])

df4 = df4.set_index(['location_key'])

# tt = df41
# tt = tt.set_index('location_key')
# tt.sort_values(by='location_key')

# df4.update(tt)
df4

,country_name,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate
location_key,,,,,,,,,,,,,,,,,,,,,,,,,,,
US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16119805,7882,0.920,NaN,NaN,NaN,NaN
US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16315435,8025,0.920,NaN,NaN,NaN,NaN
US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16512875,8315,0.920,NaN,NaN,NaN,NaN
US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16749912,8803,0.920,NaN,NaN,NaN,NaN
US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16992440,9592,0.920,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28312,0,0.939,NaN,NaN,NaN,NaN
AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28337,0,0.939,NaN,NaN,NaN,NaN
AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28350,0,0.939,NaN,NaN,NaN,NaN
AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28381,0,0.939,NaN,NaN,NaN,NaN
AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28408,0,0.939,NaN,NaN,NaN,NaN

In [20]:
#df43 = df43.set_index('location_key')

df5 = pd.merge(df4, df43, on=['location_key', 'date', 'new_deceased', 'new_confirmed'], how='left')
df5.drop_duplicates()

,location_key,country_name,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9
0,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16119805,7882,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0
1,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16315435,8025,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0
2,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16512875,8315,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0
3,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16749912,8803,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0
4,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16992440,9592,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37347,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28312,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37348,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28337,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37349,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28350,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37350,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28381,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37351,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28408,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
df42['new_deceased'] = df42['new_deceased'].astype(float)
df42['new_confirmed'] = df42['new_confirmed'].astype(float)
fl = pd.merge(df5, df42, on=['location_key', 'date', 'new_confirmed', 'new_deceased'], how='left').drop_duplicates()

fl.to_csv("zad2.1.csv", index=False)
fl

,location_key,country_name,iso_3166_1_alpha_2,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9,new_recovered,new_intensive_care_patients
0,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16119805,7882,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0,<NA>,<NA>
1,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16315435,8025,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0,<NA>,<NA>
2,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16512875,8315,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0,<NA>,<NA>
3,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16749912,8803,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0,<NA>,<NA>
4,US,United States of America,US,331002647,163786016,167216631,36.185,21374418877706,9831510,2020-07-08,1012346,64318,1079,3.64,5.18,-12,-1,52,-30,-37,11,16992440,9592,0.920,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1044,2385,6381,4700,3940,3398,2089,1103,0,0,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37347,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28312,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>
37348,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28337,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>
37349,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28350,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>
37350,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28381,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>
37351,AU,Australia,AU,25499881,12698625,12801256,3.319,1392680589329,7741220,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28408,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>

# ćwiczenie 2

## Dylemat


które rozwiązanie jest lepsze?

1. czy pivotować wszystko na osobne kolumny? np:

| country_id | gdp 1960 | gdp 1970 | ... |
| --- | --- | --- | --- |
| 1 | 300 | 400 | ... |

2. czy zwęzić wartości do kolumny? np:

| country_id | rok | vartość |
| --- | --- | --- |
| 1 | 1960 | 394878 |
| 1 | 1970 | 2137 |
| ... | ... | ... |



Przy (2) łączeniu z danymi z poprzedniego zadania powstaje wiele wierszy które będą tylko duplikować dane z poprzedniej tabeli. Zakładamy że mergujemy left

Przy łączeniu (1) liczba wierszy pozostanie taka sama, jednak nadal bądą się powtarzały dane o pkg dla każdego dnia

Tabela `worldCounties`, nie uwzględnia dat dzisiejszych.

tak źle i tak niedobrze :pepeW

In [62]:
# 1 PKB
gdp = pd.read_csv('gdp.csv')
gdp.head(20)

   Country Name Country Code  Year         Value
0    Arab World          ARB  1968  2.576068e+10
1    Arab World          ARB  1969  2.843420e+10
2    Arab World          ARB  1970  3.138550e+10
3    Arab World          ARB  1971  3.642691e+10
4    Arab World          ARB  1972  4.331606e+10
5    Arab World          ARB  1973  5.501839e+10
6    Arab World          ARB  1974  1.051458e+11
7    Arab World          ARB  1975  1.163370e+11
8    Arab World          ARB  1976  1.448462e+11
9    Arab World          ARB  1977  1.673083e+11
10   Arab World          ARB  1978  1.835555e+11
11   Arab World          ARB  1979  2.486462e+11
12   Arab World          ARB  1980  3.381775e+11
13   Arab World          ARB  1981  3.485928e+11
14   Arab World          ARB  1982  3.243288e+11
15   Arab World          ARB  1983  3.039625e+11
16   Arab World          ARB  1984  3.079408e+11
17   Arab World          ARB  1985  3.038936e+11
18   Arab World          ARB  1986  2.890292e+11
19   Arab World          ARB  1987  3.126817e+11

In [63]:
# 2 PKB
# wyskakuj ze strategicznych informacji kapitałowych
# bo inaczej przeskoczymy drabine eskalacyjną i dostaniesz pivot na rimland
gdp['Year'] = 'GDP ' + gdp['Year'].astype(str)
rimland = gdp.pivot(index=['Country Code', 'Country Name'], columns=['Year'], values='Value')
rimland

,Year,GDP 1960,GDP 1961,GDP 1962,GDP 1963,GDP 1964,GDP 1965,GDP 1966,GDP 1967,GDP 1968,GDP 1969,GDP 1970,GDP 1971,GDP 1972,GDP 1973,GDP 1974,GDP 1975,GDP 1976,GDP 1977,GDP 1978,GDP 1979,GDP 1980,GDP 1981,GDP 1982,GDP 1983,GDP 1984,GDP 1985,GDP 1986,GDP 1987,GDP 1988,GDP 1989,GDP 1990,GDP 1991,GDP 1992,GDP 1993,GDP 1994,GDP 1995,GDP 1996,GDP 1997,GDP 1998,GDP 1999,GDP 2000,GDP 2001,GDP 2002,GDP 2003,GDP 2004,GDP 2005,GDP 2006,GDP 2007,GDP 2008,GDP 2009,GDP 2010,GDP 2011,GDP 2012,GDP 2013,GDP 2014,GDP 2015,GDP 2016
Country Code,Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.330168e+09,1.320670e+09,1.379888e+09,1.531844e+09,1.665363e+09,1.722799e+09,1.873453e+09,1.920263e+09,1.941095e+09,2.021302e+09,2.228279e+09,2.331006e+09,2.421475e+09,2.623726e+09,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN
AFG,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,1.831109e+09,1.595555e+09,1.733333e+09,2.155555e+09,2.366667e+09,2.555556e+09,2.953333e+09,3.300000e+09,3.697940e+09,3.641723e+09,3.478788e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.461666e+09,4.128821e+09,4.583644e+09,5.285466e+09,6.275074e+09,7.057598e+09,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.921556e+10,1.946902e+10
AGO,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.684492e+09,6.684492e+09,6.684492e+09,6.684492e+09,1.002674e+10,1.002674e+10,1.211861e+10,5.684292e+09,5.278183e+09,4.059352e+09,5.039552e+09,7.526447e+09,7.648377e+09,6.445042e+09,6.152923e+09,9.129595e+09,8.936064e+09,1.249735e+10,1.418895e+10,1.964085e+10,2.823371e+10,4.178948e+10,6.044892e+10,8.417803e+10,7.549238e+10,8.247091e+10,1.041159e+11,1.153984e+11,1.249121e+11,1.267769e+11,1.029622e+11,9.533511e+10
ALB,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.924242e+09,1.965385e+09,2.173750e+09,2.156625e+09,2.126000e+09,2.335125e+09,2.101625e+09,1.139167e+09,7.094526e+08,1.228071e+09,1.985674e+09,2.424499e+09,3.314898e+09,2.359903e+09,2.707124e+09,3.414761e+09,3.632044e+09,4.060759e+09,4.435079e+09,5.746946e+09,7.314865e+09,8.158549e+09,8.992642e+09,1.070101e+10,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.133526e+10,1.186387e+10
AND,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.861921e+07,8.940982e+07,1.134082e+08,1.508201e+08,1.865587e+08,2.201272e+08,2.272810e+08,2.540202e+08,3.080089e+08,4.115783e+08,4.464161e+08,3.889587e+08,3.758960e+08,3.278618e+08,3.300707e+08,3.467380e+08,4.820006e+08,6.113164e+08,7.214259e+08,7.954493e+08,1.029048e+09,1.106929e+09,1.210014e+09,1.007026e+09,1.017549e+09,1.178739e+09,1.223945e+09,1.180597e+09,1.211932e+09,1.239876e+09,1.434430e+09,1.496913e+09,1.733117e+09,2.398646e+09,2.935659e+09,3.255789e+09,3.543257e+09,4.016972e+09,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.858518e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.849196e+09,2.535334e+09,2.702427e+09,3.355083e+09,3.639935e+09,3.736600e+09,4.078158e+09,4.833561e+09,5.687488e+09,5.653793e+09,5.829934e+09,6.649291e+09,6.473725e+09,7.072092e+09,7.386891e+09,6.440501e+09,6.649889e+09
YEM,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.647252e+09,5.930370e+09,6.463650e+09,5.368271e+09,4.167356e+09,4.258789e+09,5.785685e+09,6.839039e+09,6.325220e+09,7.641101e+09,9.636342e+09,9.854042e+09,1.069328e+10,1.177777e+10,1.387350e+10,1.675377e+10,1.908172e+10,2.165652e+10,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.539315e+10,4.041523e+10,4.322858e+10,3.773392e+10,2.731761e+10
ZAF,South Africa,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,1.235475e+10,1.377712e+10,1.489430e+10,1.678006e+10,1.841803e+10,2.033417e+10,2.135814e+10,2.929395e+10,3.680648e+10,3.811494e+10,3.660189e+10,4.064972e+10,4.673758e+10,5.764727e+10,8.298408e+10,8.962950e+10,8.269690e+10,8.878658e+10,8.788047e+10,6.920845e+10,8.210792e+10,1.074150e+11,1.183315e+11,1.289027e+11,1.155533e+11,1.239434e+11,1.345452e+11,1.343098e+11,1.397525e+11,1.554603e+11,1.476080e+11,1.525862e+11,1.377744e+11,1.366320e+11,1.363619e+11,1.216008e+11,1.157481e+11,1.752569e+11,2.289373e+11,2.576714e+11,2.718111e+11,2.990335e+11,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963326e+11,3.668100e+11,3.511191e+11,3.176107e+11,2.954562e+11
ZMB,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,1.965714e+09,1.825286e+09,1.687000e+09,1.910714e+09,2.268714e+09,3.121833e+09,2.618667e+09,2.746714e+09,2.483000e+09,2.813375e+09,3.325500e+09,3.829500e+09,3.872667e+09,3.994778e+09,3.216308e+09,2.739444e+09,2.281258e+09,1.661949e+09,2.269895e+09,3.713614e+09,3.998638e+09,3.285217e+09,3.378882e+09,3.181922e+09,3.273238e+09,3.656648e+09,3.807067e+09,3.597221e+09,4.303282e+09,3.537683e+09,3.404312e+09,3.600683e+09,4.094481e+09,4.193846e+09,4.901840e+09,6.221078e+09,8.331870e+09,1.275686e+10,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.106399e+10
ZWE,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,1.884206e+09,2.178716e+09,2.677729e+09,3.309354e+09,3.982161e+09,4.371301e+09,4.318372e+09,4.364382e+09,4.351600e+09,5.177459e+09,6.678868e+09,8.011374e+09,8.539701e+09,7.764067e+09,6.352126e+09,5.637259e+09,6.217524e+09,6.741215e+09,7.814784e+09,8.286323e+09,8.783817e+09,8.641482e+09,6.751472e+09,6.563813e+09,6.890675e+09,7.111271e+09,8.553147e+09,8.529572e+09,6.401968e+09,6.858013e+09,6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,5.805598e+09,5.755215e+09,5.443896e+09,5.291950e+09,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10

In [64]:
wc = pd.read_csv('world_countries.csv')
wc

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [65]:
# selecja realnie potrzebnych informacji demograficznych

inna = wc.melt(id_vars=['CCA3', 'Rank', 'Country/Territory', 'Capital', 'Continent', 'Area (km²)', "Density (per km²)", 'Growth Rate', 'World Population Percentage'],
        var_name='Year',
        value_name="Population" )
inna["Year"] = inna["Year"].str.split().str[0]
inna["Year"] = inna["Year"].astype(int)
inna

# dane tylko dla roku 2020
inna = inna.loc[inna['Year'] == 2020].drop(columns='Year')
inna

,CCA3,Rank,Country/Territory,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population
234,AFG,36,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,38972230
235,ALB,138,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,2866849
236,DZA,34,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,43451666
237,ASM,213,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,46189
238,AND,203,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,77700
...,...,...,...,...,...,...,...,...,...,...
463,WLF,226,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,11655
464,ESH,172,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,556048
465,YEM,46,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,32284046
466,ZMB,63,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,18927715
467,ZWE,74,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,15669666

In [66]:
# łączenie gdp
# tworzenie kolumny year
#fl['year'] = pd.to_datetime(fl['date']).dt.year
#fl
#gdp = gdp.drop(columns=["Year", "Value"])
#pd.merge(fl, gdp, left_on=['country_name'], right_on=['Country Name'], how='inner')

## łacznenie 2 nowych plików
newdata = pd.merge(inna, rimland, left_on=['Country/Territory','CCA3'], right_on=['Country Name', 'Country Code'], how='left')
#newdata = newdata.rename({'Country/Territory': 'country_name', 'Area (km²)': 'area_sq_km', 'Density (per km²)': 'population_density'}, axis=1)
newdata

,CCA3,Rank,Country/Territory,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population,GDP 1960,GDP 1961,GDP 1962,GDP 1963,GDP 1964,GDP 1965,GDP 1966,GDP 1967,GDP 1968,GDP 1969,GDP 1970,GDP 1971,GDP 1972,GDP 1973,GDP 1974,GDP 1975,GDP 1976,GDP 1977,GDP 1978,GDP 1979,GDP 1980,GDP 1981,GDP 1982,GDP 1983,GDP 1984,GDP 1985,GDP 1986,GDP 1987,GDP 1988,GDP 1989,GDP 1990,GDP 1991,GDP 1992,GDP 1993,GDP 1994,GDP 1995,GDP 1996,GDP 1997,GDP 1998,GDP 1999,GDP 2000,GDP 2001,GDP 2002,GDP 2003,GDP 2004,GDP 2005,GDP 2006,GDP 2007,GDP 2008,GDP 2009,GDP 2010,GDP 2011,GDP 2012,GDP 2013,GDP 2014,GDP 2015,GDP 2016
0,AFG,36,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,38972230,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,1.831109e+09,1.595555e+09,1.733333e+09,2.155555e+09,2.366667e+09,2.555556e+09,2.953333e+09,3.300000e+09,3.697940e+09,3.641723e+09,3.478788e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.461666e+09,4.128821e+09,4.583644e+09,5.285466e+09,6.275074e+09,7.057598e+09,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.921556e+10,1.946902e+10
1,ALB,138,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,2866849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.924242e+09,1.965385e+09,2.173750e+09,2.156625e+09,2.126000e+09,2.335125e+09,2.101625e+09,1.139167e+09,7.094526e+08,1.228071e+09,1.985674e+09,2.424499e+09,3.314898e+09,2.359903e+09,2.707124e+09,3.414761e+09,3.632044e+09,4.060759e+09,4.435079e+09,5.746946e+09,7.314865e+09,8.158549e+09,8.992642e+09,1.070101e+10,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.133526e+10,1.186387e+10
2,DZA,34,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,43451666,2.723649e+09,2.434777e+09,2.001469e+09,2.703015e+09,2.909352e+09,3.136259e+09,3.039835e+09,3.370843e+09,3.852116e+09,4.257219e+09,4.863487e+09,5.077222e+09,6.761786e+09,8.715106e+09,1.320971e+10,1.555793e+10,1.772835e+10,2.097190e+10,2.636449e+10,3.324342e+10,4.234528e+10,4.434867e+10,4.520709e+10,4.880137e+10,5.369828e+10,5.793787e+10,6.369630e+10,6.674227e+10,5.908907e+10,5.563149e+10,6.204510e+10,4.571537e+10,4.800330e+10,4.994646e+10,4.254257e+10,4.176405e+10,4.694150e+10,4.817786e+10,4.818775e+10,4.864057e+10,5.479025e+10,5.474471e+10,5.676029e+10,6.786383e+10,8.532500e+10,1.031982e+11,1.170273e+11,1.349771e+11,1.710007e+11,1.372110e+11,1.612073e+11,2.000191e+11,2.090590e+11,2.097550e+11,2.138100e+11,1.658743e+11,1.590491e+11
3,ASM,213,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,46189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.140000e+08,5.270000e+08,5.120000e+08,5.030000e+08,4.960000e+08,5.200000e+08,5.630000e+08,6.780000e+08,5.760000e+08,5.740000e+08,6.440000e+08,6.410000e+08,6.430000e+08,6.590000e+08,6.580000e+08
4,AND,203,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,77700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.861921e+07,8.940982e+07,1.134082e+08,1.508201e+08,1.865587e+08,2.201272e+08,2.272810e+08,2.540202e+08,3.080089e+08,4.115783e+08,4.464161e+08,3.889587e+08,3.758960e+08,3.278618e+08,3.300707e+08,3.467380e+08,4.820006e+08,6.113164e+08,7.214259e+08,7.954493e+08,1.029048e+09,1.106929e+09,1.210014e+09,1.007026e+09,1.017549e+09,1.178739e+09,1.223945e+09,1.180597e+09,1.211932e+09,1.239876e+09,1.434430e+09,1.496913e+09,1.733117e+09,2.398646e+09,2.935659e+09,3.255789e+09,3.543257e+09,4.016972e+09,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.858518e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,WLF,226,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,11655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,ESH,172,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,556048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,YEM,46,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,32284046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,ZMB,63,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,18927715,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,1.965714e+09,1.825286e+09,1.687000e+09,1.910714e+09,2.268714e+09,3.121833e+09,2.618667e+09,2.746714e+09,2.483000e+09,2.813375e+09,3.325500e+09,3.829500e+09,3.872667e+09,3.994778e+09,3.216308e+09,2.739444e+09,2.281258e+09,1.661949e+09,2.269895e+09,3.713614e+09,3.998638e+09,3.285217e+09,3.378882e+09,3.181922e+09,3.273238e+09,3.656648e+09,3.807067e+09,3.597221e+09,4.303282e+09,3.537683e+09,3.404312e+09,3.600683e+09,4.094481e+09,4.193846e+09,4.901840e+09,6.221078e+09,8.331870e+09,1.275686e+10,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.106399e+10
233,ZWE,74,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,15669666,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,1.884206e+09,2.178716e+09,2.677729e+09,3.309354e+09,3.982161e+09,4.371301e+09,4.318372e+09,4.364382e+09,4.351600e+09,5.177459e+09,6.678868e+09,8.011374e+09,8.539701e+09,7.764067e+09,6.352126e+09,5.637259e+09,6.217524e+09,6.741215e+09,7.814784e+09,8.286323e+09,8.783817e+09,8.641482e+09,6.751472e+09,6.563813e+09,6.890675e+09,7.111271e+09,8.553147e+09,8.529572e+09,6.401968e+09,6.858013e+09,6.689958e+09,6.777385e+09,6.342116e+09,5.727592e+09,5.805598e+09,5.755215e+09,5.443896e+09,5.291950e+09,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10

In [69]:
# łączenie ze resztą danych (nie wiem jak się powinno kanonicznie to robić?)

# usuwanie starych kolumn
fl = fl.drop(columns=['population_density', 'area_sq_km', 'population', 'gdp_usd'])

#łączonko
haos = pd.merge(fl, newdata, left_on=['country_name'], right_on=['Country/Territory'])
haos.drop(columns=['Country/Territory'])

,location_key,country_name,iso_3166_1_alpha_2,population_male,population_female,date,new_tested,new_confirmed,new_deceased,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,cumulative_confirmed,cumulative_persons_fully_vaccinated,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,adult_male_mortality_rate,adult_female_mortality_rate,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9,new_recovered,new_intensive_care_patients,CCA3,Rank,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population,GDP 1960,GDP 1961,GDP 1962,GDP 1963,GDP 1964,GDP 1965,GDP 1966,GDP 1967,GDP 1968,GDP 1969,GDP 1970,GDP 1971,GDP 1972,GDP 1973,GDP 1974,GDP 1975,GDP 1976,GDP 1977,GDP 1978,GDP 1979,GDP 1980,GDP 1981,GDP 1982,GDP 1983,GDP 1984,GDP 1985,GDP 1986,GDP 1987,GDP 1988,GDP 1989,GDP 1990,GDP 1991,GDP 1992,GDP 1993,GDP 1994,GDP 1995,GDP 1996,GDP 1997,GDP 1998,GDP 1999,GDP 2000,GDP 2001,GDP 2002,GDP 2003,GDP 2004,GDP 2005,GDP 2006,GDP 2007,GDP 2008,GDP 2009,GDP 2010,GDP 2011,GDP 2012,GDP 2013,GDP 2014,GDP 2015,GDP 2016
0,AU,Australia,AU,12698625,12801256,2020-12-19,30127,35,0,5.27,4.18,-3,9,-15,-25,0,1,8109,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
1,AU,Australia,AU,12698625,12801256,2020-12-19,30127,35,0,5.27,4.18,-3,9,-15,-25,0,1,8190,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
2,AU,Australia,AU,12698625,12801256,2020-12-19,30127,35,0,5.27,4.18,-3,9,-15,-25,0,1,8255,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
3,AU,Australia,AU,12698625,12801256,2020-12-19,30127,35,0,5.27,4.18,-3,9,-15,-25,0,1,8362,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
4,AU,Australia,AU,12698625,12801256,2020-12-19,30127,35,0,5.27,4.18,-3,9,-15,-25,0,1,8449,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33851,AU,Australia,AU,12698625,12801256,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28312,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
33852,AU,Australia,AU,12698625,12801256,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28337,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
33853,AU,Australia,AU,12698625,12801256,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28350,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
33854,AU,Australia,AU,12698625,12801256,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28381,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12
33855,AU,Australia,AU,12698625,12801256,2020-07-24,75584,309,7,5.53,4.54,-15,1,-17,-41,-16,10,28408,0,0.939,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,<NA>,<NA>,AUS,55,Canberra,Oceania,7692024,3.4032,1.0099,0.33,25670051,1.859335e+10,1.966626e+10,1.991152e+10,2.152761e+10,2.378766e+10,2.596259e+10,2.728861e+10,3.042110e+10,3.268787e+10,3.665920e+10,4.130474e+10,4.518311e+10,5.200350e+10,6.378219e+10,8.890641e+10,9.722655e+10,1.049742e+11,1.102661e+11,1.184006e+11,1.347938e+11,1.498875e+11,1.768048e+11,1.939545e+11,1.771764e+11,1.935039e+11,1.804710e+11,1.822818e+11,1.893760e+11,2.361358e+11,2.999414e+11,3.114259e+11,3.260686e+11,3.256925e+11,3.123728e+11,3.232169e+11,3.683917e+11,4.018194e+11,4.360980e+11,3.997789e+11,3.891465e+11,4.154462e+11,3.788999e+11,3.946358e+11,4.668532e+11,6.133298e+11,6.937641e+11,7.475726e+11,8.537646e+11,1.055335e+12,9.271683e+11,1.142877e+12,1.390557e+12,1.538194e+12,1.567179e+12,1.459598e+12,1.345383e+12,1.204616e+12