In [8]:
import os
import pandas as pd
import numpy as np
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="../esoteric-bruin-379522-1ac227ab6db1.json" # lokalizacja pobranego klucza z punktu 1.4.
client = bigquery.Client()

pd.set_option('display.max_columns', None)

#### USTAW PATH_PREFIX
PATH_PREFIX = '../zad1/'

## Ćwiczenie 1

Połącz ze sobą wszystkie dane otrzymane w części 4 z zadania 1. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [9]:
df41 = pd.read_csv(f"{PATH_PREFIX}kraje.csv")
df41

,country_name,location_key,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km
0,Cyprus,CY,CYP,875899,427831,448068,94.400,24942615800,9250
1,Micronesia,FM,FSM,115021,58480,56541,164.316,401932300,700
2,Grenada,GD,GRD,112519,56666,55853,330.938,1228170370,340
3,Iceland,IS,ISL,356991,182837,174154,3.500,24188035738,103000
4,Jamaica,JM,JAM,2961161,1469641,1491520,273.422,16458071067,10990
...,...,...,...,...,...,...,...,...,...
197,Mauritania,MR,MRT,4649660,2334981,2314679,4.511,7593752450,1030700
198,Namibia,NaN,NAM,2540916,1231683,1309233,3.086,12366527719,824290
199,Slovenia,SI,SVN,2080908,1038656,1042252,102.900,53990687600,20675
200,El Salvador,SV,SLV,6486201,3036424,3449777,313.041,27022640000,21040
201,Vietnam,VN,VNM,97338583,48598254,48740329,313.925,261921244843,331230

In [33]:
# 4.2 statyski zachorowań dla całego świata

# q1 = ("""
# select location_key,
#     date,
#     new_confirmed, 
#     new_deceased,
#     new_recovered,
#     new_intensive_care_patients
# from `bigquery-public-data.covid19_open_data.covid19_open_data`
# where aggregation_level=0 
# and date between '2020-07-01' and '2022-09-17'
# """)
# query_job = client.query(q1)
# query_result = query_job.result()
# df42 = query_result.to_dataframe()
# df42 = df42.drop_duplicates().fillna(0)

# df42

df42 = pd.read_csv(f"{PATH_PREFIX}4.2.csv")
df42

,location_key,date,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9
0,AD,2022-05-13,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,2020-11-03,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,2020-10-19,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,2020-09-20,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,2021-07-25,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,RO,2021-05-21,484.0,13.0,31.0,41.0,49.0,74.0,80.0,85.0,68.0,43.0,NaN
199010,RO,2021-06-21,26.0,1.0,0.0,-1.0,3.0,5.0,3.0,4.0,5.0,6.0,NaN
199011,RO,2021-05-25,381.0,16.0,12.0,32.0,48.0,53.0,64.0,65.0,64.0,27.0,NaN
199012,RO,2021-03-10,4564.0,101.0,205.0,423.0,747.0,907.0,847.0,720.0,415.0,199.0,NaN
199013,RO,2021-07-19,46.0,0.0,2.0,11.0,7.0,8.0,5.0,10.0,2.0,1.0,NaN

In [11]:
df43 = pd.read_csv(f"{PATH_PREFIX}4.3.csv")
df43

,location_key,date,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9
0,AR,2022-05-22,6,0,0,0,0,0,0,0,3,3,0
1,AR,2021-03-18,115,0,0,1,1,1,10,22,38,30,12
2,AR,2021-02-01,161,0,1,0,7,5,9,33,49,43,14
3,BR,2021-02-22,639,1,2,12,44,99,164,233,290,206,50
4,BR,2021-08-21,698,2,2,16,37,52,68,104,142,93,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,ZW,2021-05-31,3,0,0,0,0,0,0,0,0,0,0
199010,ZW,2022-04-09,0,0,0,0,0,0,0,0,0,0,0
199011,ZW,2022-09-03,0,0,0,0,0,0,0,0,0,0,0
199012,ZW,2021-12-12,2,0,0,0,0,0,0,0,0,0,0
199013,ZW,2022-07-11,0,0,0,0,0,0,0,0,0,0,0

In [22]:
df44 = pd.read_csv(f"{PATH_PREFIX}4.4.csv")
df44

,location_key,date,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen
0,AR,2022-05-22,582,1459,0,0,0,0,0,0
1,AR,2021-03-18,40812,18387,0,0,0,0,0,0
2,AR,2021-02-01,1019,7433,0,0,0,0,0,0
3,BR,2021-02-22,127586,120858,0,0,0,0,0,0
4,BR,2021-08-21,597658,417674,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
199009,ZW,2020-12-15,0,0,0,0,0,0,0,0
199010,ZW,2020-07-01,0,0,0,0,0,0,0,0
199011,ZW,2022-06-20,0,0,0,0,0,0,0,0
199012,ZW,2020-09-13,0,0,0,0,0,0,0,0
199013,ZW,2020-08-24,0,0,0,0,0,0,0,0

In [13]:
df451 = pd.read_csv(f"{PATH_PREFIX}4.5.1.csv")

df451

    location_key    hdi
0             AD  0.858
1             AE  0.863
2             AF  0.498
3             AG  0.780
4             AL  0.764
..           ...    ...
181           CZ  0.888
182           EE  0.892
183           IN  0.640
184           US  0.920
185           RO  0.811

[186 rows x 2 columns]

In [14]:
df452 = pd.read_csv(f"{PATH_PREFIX}4.5.2.csv")
df452

,date,location_key,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
0,2022-08-24,AO,58,51,146,46,-54,29
1,2021-05-13,AT,-77,-86,-21,-59,-82,26
2,2021-07-24,AW,11,11,63,-39,-5,-8
3,2021-07-05,BA,9,39,32,9,-13,-13
4,2022-02-25,BA,13,48,17,-29,22,-8
...,...,...,...,...,...,...,...,...
99603,2022-03-30,PH,4,45,51,-10,-4,19
99604,2021-12-10,SG,-10,2,-16,-24,-23,19
99605,2021-01-10,TR,-84,-55,-71,-74,-48,19
99606,2021-04-02,ES,-47,-53,42,-50,-75,19
99607,2020-12-24,PH,-20,40,11,-40,-54,19

In [15]:
df453 = pd.read_csv(f"{PATH_PREFIX}4.5.3.csv")
df453

              date location_key  search_trends_cough  search_trends_fever
0       2022-05-13           AD                  NaN                  NaN
1       2020-11-03           AD                  NaN                  NaN
2       2020-10-19           AD                  NaN                  NaN
3       2020-09-20           AD                  NaN                  NaN
4       2021-07-25           AD                  NaN                  NaN
...            ...          ...                  ...                  ...
199009  2022-02-16           US                 4.67                 3.32
199010  2022-01-06           US                 9.95                 6.57
199011  2020-11-29           US                 4.30                 3.79
199012  2021-11-09           US                 6.80                 3.96
199013  2021-11-24           US                 6.69                 3.85

[199014 rows x 4 columns]

## Łączenie

In [16]:
# laczenie dat wyszukiwań
df = pd.merge(df41, df453, how="right", on="location_key")
df

,country_name,location_key,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever
0,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN
1,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN
2,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN
3,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN
4,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
199009,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32
199010,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57
199011,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79
199012,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96
199013,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85

In [18]:
# laczenie df452 - mobility
df2 = pd.merge(df, df452, how="left", on=["location_key", "date"])
df2

,country_name,location_key,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
0,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0
199010,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0
199011,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0
199012,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0
199013,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0

In [21]:
df3 = pd.merge(df2, df451, how="left", on=["location_key"])
df3

,country_name,location_key,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi
0,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858
1,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858
2,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858
3,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858
4,Andorra,AD,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920
199010,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920
199011,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920
199012,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920
199013,United States of America,US,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920

In [25]:
df4 = pd.merge(df3, df44, how='inner', on=['location_key', 'date'])

df4 = df4.set_index(['location_key'])


# df4.update(tt)
df4

,country_name,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen
location_key,,,,,,,,,,,,,,,,,,,,,,,,,,
AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0
AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0
AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0
AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0
AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920,102700,0,0,0,0,0,0,0
US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920,370116,0,0,0,0,0,0,0
US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920,0,0,0,0,0,0,0,0
US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920,521718,167503,103111,693057,48597,465058,16559,28779
US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920,400788,-230192,-118015,1111555,-108595,650930,-5472,21413

In [27]:
#df43 = df43.set_index('location_key')

df5 = pd.merge(df4, df43, on=['location_key', 'date'], how='inner')
df5.drop_duplicates()

,location_key,country_name,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9
0,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920,102700,0,0,0,0,0,0,0,2649,0,0,0,0,0,0,0,0,0,0
199010,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920,370116,0,0,0,0,0,0,0,1998,0,0,0,0,0,0,0,0,0,0
199011,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920,0,0,0,0,0,0,0,0,1276,0,0,0,0,0,0,0,0,0,0
199012,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920,521718,167503,103111,693057,48597,465058,16559,28779,1567,0,0,0,0,0,0,0,0,0,0
199013,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920,400788,-230192,-118015,1111555,-108595,650930,-5472,21413,1222,0,0,0,0,0,0,0,0,0,0

In [210]:
#df42['new_deceased'] = df42['new_deceased'].astype(float)
#df42['new_confirmed'] = df42['new_confirmed'].astype(float)
fl = pd.merge(df5, df42, on=['location_key', 'date'], how='inner').drop_duplicates()

fl.to_csv("zad2.1.csv", index=False)
fl

,location_key,country_name,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9
0,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920,102700,0,0,0,0,0,0,0,2649,0,0,0,0,0,0,0,0,0,0,105547.0,12218.0,16703.0,18614.0,19844.0,16582.0,15100.0,11718.0,7112.0,NaN,NaN
199010,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920,370116,0,0,0,0,0,0,0,1998,0,0,0,0,0,0,0,0,0,0,764809.0,47650.0,71765.0,109307.0,95494.0,77879.0,65867.0,40364.0,18814.0,NaN,NaN
199011,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920,0,0,0,0,0,0,0,0,1276,0,0,0,0,0,0,0,0,0,0,138475.0,3172.0,7650.0,12930.0,12189.0,11041.0,10142.0,7223.0,3938.0,NaN,NaN
199012,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920,521718,167503,103111,693057,48597,465058,16559,28779,1567,0,0,0,0,0,0,0,0,0,0,81782.0,11915.0,16735.0,16911.0,18708.0,15380.0,13770.0,10911.0,6089.0,NaN,NaN
199013,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920,400788,-230192,-118015,1111555,-108595,650930,-5472,21413,1222,0,0,0,0,0,0,0,0,0,0,106793.0,9474.0,10607.0,11309.0,13356.0,11137.0,9680.0,7276.0,3611.0,NaN,NaN

# Ćzęść 2

In [211]:
# 1 PKB
gdp = pd.read_csv('gdp.csv')
gdp.head(20)

   Country Name Country Code  Year         Value
0    Arab World          ARB  1968  2.576068e+10
1    Arab World          ARB  1969  2.843420e+10
2    Arab World          ARB  1970  3.138550e+10
3    Arab World          ARB  1971  3.642691e+10
4    Arab World          ARB  1972  4.331606e+10
5    Arab World          ARB  1973  5.501839e+10
6    Arab World          ARB  1974  1.051458e+11
7    Arab World          ARB  1975  1.163370e+11
8    Arab World          ARB  1976  1.448462e+11
9    Arab World          ARB  1977  1.673083e+11
10   Arab World          ARB  1978  1.835555e+11
11   Arab World          ARB  1979  2.486462e+11
12   Arab World          ARB  1980  3.381775e+11
13   Arab World          ARB  1981  3.485928e+11
14   Arab World          ARB  1982  3.243288e+11
15   Arab World          ARB  1983  3.039625e+11
16   Arab World          ARB  1984  3.079408e+11
17   Arab World          ARB  1985  3.038936e+11
18   Arab World          ARB  1986  2.890292e+11
19   Arab World          ARB  1987  3.126817e+11

In [212]:
# 2 PKB

#gdp['Year'] = 'GDP ' + gdp['Year'].astype(str)
#rimland = gdp.pivot(index=['Country Code', 'Country Name'], columns=['Year'], values='Value')
#rimland

In [213]:
wc = pd.read_csv('world_countries.csv')
wc

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [214]:
# inne selecja realnie potrzebnych informacji demograficznych (nieużywane)

inna = wc.melt(id_vars=['CCA3', 'Rank', 'Country/Territory', 'Capital', 'Continent', 'Area (km²)', "Density (per km²)", 'Growth Rate', 'World Population Percentage'],
        var_name='Year',
        value_name="Population" )

inna["Year"] = inna["Year"].str.split().str[0]
inna["Year"] = inna["Year"].astype(int)

#inna.rename({"Year": "Pop_Year"})

inna

,CCA3,Rank,Country/Territory,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Year,Population
0,AFG,36,Afghanistan,Kabul,Asia,652230,63.0587,1.0257,0.52,2022,41128771
1,ALB,138,Albania,Tirana,Europe,28748,98.8702,0.9957,0.04,2022,2842321
2,DZA,34,Algeria,Algiers,Africa,2381741,18.8531,1.0164,0.56,2022,44903225
3,ASM,213,American Samoa,Pago Pago,Oceania,199,222.4774,0.9831,0.00,2022,44273
4,AND,203,Andorra,Andorra la Vella,Europe,468,170.5641,1.0100,0.00,2022,79824
...,...,...,...,...,...,...,...,...,...,...,...
1867,WLF,226,Wallis and Futuna,Mata-Utu,Oceania,142,81.4930,0.9953,0.00,1970,9377
1868,ESH,172,Western Sahara,El Aaiún,Africa,266000,2.1654,1.0184,0.01,1970,76371
1869,YEM,46,Yemen,Sanaa,Asia,527968,63.8232,1.0217,0.42,1970,6843607
1870,ZMB,63,Zambia,Lusaka,Africa,752612,26.5976,1.0280,0.25,1970,4281671
1871,ZWE,74,Zimbabwe,Harare,Africa,390757,41.7665,1.0204,0.20,1970,5202918

In [140]:
## łacznenie 2 nowych plików
#newdata = pd.merge(inna, gdp, left_on=['Country/Territory', 'CCA3', 'Year'], right_on=['Country Name', 'Country Code', 'Year'], how='left')
#newdata

In [141]:
################# łączonko
fl["Year"] = fl["date"].str.split('-').str[0].astype(int)

haos = pd.merge(fl, gdp, how="left", left_on=['country_name', 'iso_3166_1_alpha_3', 'Year'], right_on=['Country Name', 'Country Code', 'Year'])
haos = haos.drop(columns=['Country Name', 'Country Code'])

haos = pd.merge(haos, inna, how='left', left_on=['country_name', 'Year'], right_on=['Country/Territory', 'Year'])
haos = haos.drop(columns=['Country/Territory', 'CCA3'])
haos['Year'] = haos['Year'].astype(str)
haos.to_csv('zad2.2.csv', index=False)
haos

,location_key,country_name,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9,Year,Value,Rank,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population
0,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,79824.0
1,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0
2,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0
3,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0
4,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920,102700,0,0,0,0,0,0,0,2649,0,0,0,0,0,0,0,0,0,0,105547.0,12218.0,16703.0,18614.0,19844.0,16582.0,15100.0,11718.0,7112.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199010,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920,370116,0,0,0,0,0,0,0,1998,0,0,0,0,0,0,0,0,0,0,764809.0,47650.0,71765.0,109307.0,95494.0,77879.0,65867.0,40364.0,18814.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199011,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920,0,0,0,0,0,0,0,0,1276,0,0,0,0,0,0,0,0,0,0,138475.0,3172.0,7650.0,12930.0,12189.0,11041.0,10142.0,7223.0,3938.0,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199012,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920,521718,167503,103111,693057,48597,465058,16559,28779,1567,0,0,0,0,0,0,0,0,0,0,81782.0,11915.0,16735.0,16911.0,18708.0,15380.0,13770.0,10911.0,6089.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199013,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920,400788,-230192,-118015,1111555,-108595,650930,-5472,21413,1222,0,0,0,0,0,0,0,0,0,0,106793.0,9474.0,10607.0,11309.0,13356.0,11137.0,9680.0,7276.0,3611.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Część 3

In [219]:
inflacja = pd.read_csv('inflation.csv')
inflacja

      Country Code  Year  Inflation
0              ABW  1960        NaN
1              AFE  1960        NaN
2              AFG  1960        NaN
3              AFW  1960        NaN
4              AGO  1960        NaN
...            ...   ...        ...
16487          XKX  2021   3.353691
16488          YEM  2021        NaN
16489          ZAF  2021   4.611672
16490          ZMB  2021  22.021234
16491          ZWE  2021  98.546105

[16492 rows x 3 columns]

In [203]:
alpha = pd.merge(haos, inflacja,
         left_on=['iso_3166_1_alpha_3', 'Year'],
         right_on=['Country Code', 'Year'],
         how='left')
alpha

,location_key,country_name,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9,Year,Value,Rank,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population,Country Code,Inflation
0,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,79824.0,NaN,NaN
1,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN
2,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN
3,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN
4,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199009,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920,102700,0,0,0,0,0,0,0,2649,0,0,0,0,0,0,0,0,0,0,105547.0,12218.0,16703.0,18614.0,19844.0,16582.0,15100.0,11718.0,7112.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199010,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920,370116,0,0,0,0,0,0,0,1998,0,0,0,0,0,0,0,0,0,0,764809.0,47650.0,71765.0,109307.0,95494.0,77879.0,65867.0,40364.0,18814.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199011,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920,0,0,0,0,0,0,0,0,1276,0,0,0,0,0,0,0,0,0,0,138475.0,3172.0,7650.0,12930.0,12189.0,11041.0,10142.0,7223.0,3938.0,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,1.233584
199012,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920,521718,167503,103111,693057,48597,465058,16559,28779,1567,0,0,0,0,0,0,0,0,0,0,81782.0,11915.0,16735.0,16911.0,18708.0,15380.0,13770.0,10911.0,6089.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,4.697859
199013,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920,400788,-230192,-118015,1111555,-108595,650930,-5472,21413,1222,0,0,0,0,0,0,0,0,0,0,106793.0,9474.0,10607.0,11309.0,13356.0,11137.0,9680.0,7276.0,3611.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,4.697859

In [204]:
# zanieczyszczenia 

pollution = pd.read_csv("pollution.csv")

vals = ['Global', 'International Transport']
pollution = pollution[pollution.Country.isin(vals) == False]
pollution = pollution.drop(columns=['Unnamed: 0', 'Other', 'Country'])
pollution['Year'] = pollution['Year'].astype(str)
pollution

,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Per Capita
0,AFG,2016,9.067598,2.878736,5.794097,0.318639,0.076126,0.0,0.261795
1,AFG,2017,9.867969,3.447824,6.074912,0.300448,0.044785,0.0,0.276852
2,AFG,2018,10.818048,3.847200,6.620848,0.293120,0.056880,0.0,0.294876
3,AFG,2019,11.081621,3.954767,6.842956,0.245569,0.038329,0.0,0.293401
4,AFG,2020,11.681766,4.150072,7.219776,0.251244,0.060674,0.0,0.299746
...,...,...,...,...,...,...,...,...,...
1375,ZWE,2017,9.596071,5.900452,3.226752,0.000000,0.468867,0.0,0.650533
1376,ZWE,2018,11.795478,7.177776,4.059712,0.000000,0.557990,0.0,0.783639
1377,ZWE,2019,11.114607,6.888320,3.656672,0.000000,0.569615,0.0,0.723861
1378,ZWE,2020,10.607897,6.721571,3.316712,0.000000,0.569615,0.0,0.676970
1379,ZWE,2021,11.296114,7.225620,3.500879,0.000000,0.569615,0.0,0.706293

In [206]:
beta = pd.merge(alpha, pollution,
         left_on=['iso_3166_1_alpha_3', 'Year'],
         right_on=['ISO 3166-1 alpha-3', 'Year'],
         how='left')

beta

,location_key,country_name,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9,Year,Value,Rank,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population,Country Code,Inflation,ISO 3166-1 alpha-3,Total,Coal,Oil,Gas,Cement,Flaring,Per Capita
0,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,79824.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN,AND,0.448884,0.000000,0.448884,0.000000,0.000000,0.000000,5.777148
2,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN,AND,0.448884,0.000000,0.448884,0.000000,0.000000,0.000000,5.777148
3,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN,AND,0.448884,0.000000,0.448884,0.000000,0.000000,0.000000,5.777148
4,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,NaN,AND,0.452888,0.000000,0.452888,0.000000,0.000000,0.000000,5.730292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320338,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920,102700,0,0,0,0,0,0,0,2649,0,0,0,0,0,0,0,0,0,0,105547.0,12218.0,16703.0,18614.0,19844.0,16582.0,15100.0,11718.0,7112.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320339,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920,370116,0,0,0,0,0,0,0,1998,0,0,0,0,0,0,0,0,0,0,764809.0,47650.0,71765.0,109307.0,95494.0,77879.0,65867.0,40364.0,18814.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320340,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920,0,0,0,0,0,0,0,0,1276,0,0,0,0,0,0,0,0,0,0,138475.0,3172.0,7650.0,12930.0,12189.0,11041.0,10142.0,7223.0,3938.0,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,1.233584,USA,4715.691109,878.972885,2049.336500,1653.677852,40.687747,67.684371,14.037218
320341,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920,521718,167503,103111,693057,48597,465058,16559,28779,1567,0,0,0,0,0,0,0,0,0,0,81782.0,11915.0,16735.0,16911.0,18708.0,15380.0,13770.0,10911.0,6089.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,4.697859,USA,5007.335889,1002.299987,2233.778180,1637.038462,41.203135,67.684371,14.858668
320342,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920,400788,-230192,-118015,1111555,-108595,650930,-5472,21413,1222,0,0,0,0,0,0,0,0,0,0,106793.0,9474.0,10607.0,11309.0,13356.0,11137.0,9680.0,7276.0,3611.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,4.697859,USA,5007.335889,1002.299987,2233.778180,1637.038462,41.203135,67.684371,14.858668

In [207]:
# wartośc eksportu
export = pd.read_csv('export_info.csv')
export['Year'] = export['Year'].astype(str)
# export
#export = export.loc[export['Year'] == 2020]
export = export.groupby(by=['ReporterISO3', 'ReporterName', 'Year']).sum(numeric_only=True).drop_duplicates()
# export.drop(columns='ReporterName')
export = export.reset_index()
export

    ReporterISO3 ReporterName  Year  TradeValue in 1000 USD
0            ABW        Aruba  2016              190792.982
1            ABW        Aruba  2017              178158.693
2            ABW        Aruba  2018              139525.475
3            ABW        Aruba  2019              167254.100
4            ABW        Aruba  2020              131861.794
..           ...          ...   ...                     ...
867          ZWE     Zimbabwe  2016             6661576.126
868          ZWE     Zimbabwe  2017             6960763.731
869          ZWE     Zimbabwe  2018             8074534.139
870          ZWE     Zimbabwe  2019             8558767.077
871          ZWE     Zimbabwe  2020             8752752.959

[872 rows x 4 columns]

In [208]:
gamma = pd.merge(beta, export,
         left_on=['iso_3166_1_alpha_3', 'Year'],
         right_on=['ReporterISO3', 'Year'],
         how='left')

gamma = gamma.drop(columns=['ISO 3166-1 alpha-3'])
gamma.to_csv('zad2.3.csv', index=False)
gamma

,location_key,country_name,iso_3166_1_alpha_3,population,population_male,population_female,population_density,gdp_usd,area_sq_km,date,search_trends_cough,search_trends_fever,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential,hdi,new_persons_vaccinated,new_persons_fully_vaccinated,new_persons_fully_vaccinated_pfizer,new_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,new_deceased,new_deceased_age_0,new_deceased_age_1,new_deceased_age_2,new_deceased_age_3,new_deceased_age_4,new_deceased_age_5,new_deceased_age_6,new_deceased_age_7,new_deceased_age_8,new_deceased_age_9,new_confirmed,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,new_confirmed_age_8,new_confirmed_age_9,Year,Value,Rank,Capital,Continent,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population,Country Code,Inflation,Total,Coal,Oil,Gas,Cement,Flaring,Per Capita,ReporterISO3,ReporterName,TradeValue in 1000 USD
0,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2022-05-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,79824.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN,0.448884,0.000000,0.448884,0.000000,0.000000,0.000000,5.777148,NaN,NaN,NaN
2,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN,0.448884,0.000000,0.448884,0.000000,0.000000,0.000000,5.777148,NaN,NaN,NaN
3,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2020-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,NaN,203.0,Andorra la Vella,Europe,468.0,170.5641,1.01,0.0,77700.0,AND,NaN,0.448884,0.000000,0.448884,0.000000,0.000000,0.000000,5.777148,NaN,NaN,NaN
4,AD,Andorra,AND,77265.0,58625.0,55581.0,164.394,3.154058e+09,470.0,2021-07-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AND,NaN,0.452888,0.000000,0.452888,0.000000,0.000000,0.000000,5.730292,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320338,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-02-16,4.67,3.32,-11.0,-4.0,0.0,-25.0,-20.0,6.0,0.920,102700,0,0,0,0,0,0,0,2649,0,0,0,0,0,0,0,0,0,0,105547.0,12218.0,16703.0,18614.0,19844.0,16582.0,15100.0,11718.0,7112.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320339,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2022-01-06,9.95,6.57,-19.0,-2.0,-19.0,-33.0,-30.0,11.0,0.920,370116,0,0,0,0,0,0,0,1998,0,0,0,0,0,0,0,0,0,0,764809.0,47650.0,71765.0,109307.0,95494.0,77879.0,65867.0,40364.0,18814.0,NaN,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320340,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2020-11-29,4.30,3.79,-23.0,-15.0,-12.0,-28.0,-16.0,6.0,0.920,0,0,0,0,0,0,0,0,1276,0,0,0,0,0,0,0,0,0,0,138475.0,3172.0,7650.0,12930.0,12189.0,11041.0,10142.0,7223.0,3938.0,NaN,NaN,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,1.233584,4715.691109,878.972885,2049.336500,1653.677852,40.687747,67.684371,14.037218,USA,United States,2.414235e+09
320341,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-09,6.80,3.96,-7.0,2.0,7.0,-22.0,-22.0,5.0,0.920,521718,167503,103111,693057,48597,465058,16559,28779,1567,0,0,0,0,0,0,0,0,0,0,81782.0,11915.0,16735.0,16911.0,18708.0,15380.0,13770.0,10911.0,6089.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,4.697859,5007.335889,1002.299987,2233.778180,1637.038462,41.203135,67.684371,14.858668,USA,United States,2.957198e+09
320342,US,United States of America,USA,331002647.0,163786016.0,167216631.0,36.185,2.137442e+13,9831510.0,2021-11-24,6.69,3.85,13.0,36.0,4.0,-12.0,-37.0,6.0,0.920,400788,-230192,-118015,1111555,-108595,650930,-5472,21413,1222,0,0,0,0,0,0,0,0,0,0,106793.0,9474.0,10607.0,11309.0,13356.0,11137.0,9680.0,7276.0,3611.0,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USA,4.697859,5007.335889,1002.299987,2233.778180,1637.038462,41.203135,67.684371,14.858668,USA,United States,2.957198e+09

In [197]:
## Help Table

helper = pd.merge(gdp, inna, how='outer', left_on=['Country Code', 'Year'], right_on=['CCA3', 'Year'])
helper["Year"] = helper["Year"].astype(str)
helper = helper.drop(columns=['CCA3'])

helper = pd.merge(helper, inflacja, how='outer', on=['Country Code', 'Year'])
pollution = pollution.rename(columns={"ISO 3166-1 alpha-3": "Country Code"})
pollution
helper = pd.merge(helper, pollution, how='outer', on=['Country Code', 'Year'])

#export = export.rename(columns={"ReporterISO3": "Country Code"}).drop(columns=['ReporterName'])
export

helper = pd.merge(helper, export, how='outer', on=['Country Code', 'Year'])


helper
helper.to_csv("helper.csv", index=False)

In [209]:
gamma['new_confirmed'].max()

1235521.0